body,form,figure{margin:0;padding:0}img{border:0}header,footer,nav,section,aside,article,figure,figcaption{display:block}body{font-size:100.01%}select,input,textarea{font-size:99%}#container,.inside{position:relative}#main,#left,#right{float:left;position:relative}#main{width:100%}#left{margin-left:-100%}#right{margin-right:-100%}#footer{clear:both}#main .inside{min-height:1px}.ce_gallery>ul{margin:0;padding:0;overflow:hidden;list-style:none}.ce_gallery>ul li{float:left}.ce_gallery>ul li.col_first{clear:left}.float_left{float:left}.float_right{float:right}.block{overflow:hidden}.clear,#clear{height:.1px;font-size:.1px;line-height:.1px;clear:both}.invisible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.custom{display:block}#container:after,.custom:after{content:"";display:table;clear:both}
@media (max-width:767px){#wrapper{margin:0;width:auto}#container{padding-left:0;padding-right:0}#main,#left,#right{float:none;width:auto}#left{right:0;margin-left:0}#right{margin-right:0}}img{max-width:100%;height:auto}.ie7 img{-ms-interpolation-mode:bicubic}.ie8 img{width:auto}
body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,ol,ul,li,dl,dt,dd,figure,table,th,td,form,fieldset,legend,input,textarea{margin:0;padding:0}table{border-spacing:0;border-collapse:collapse}caption,th,td{text-align:left;text-align:start;vertical-align:top}abbr,acronym{font-variant:normal;border-bottom:1px dotted #666;cursor:help}blockquote,q{quotes:none}fieldset,img{border:0}ul{list-style-type:none}sup{vertical-align:text-top}sub{vertical-align:text-bottom}del{text-decoration:line-through}ins{text-decoration:none}header,footer,nav,section,aside,article,figure,figcaption{display:block}body{font:12px/1 "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000}input,button,textarea,select{font-family:inherit;font-size:99%;font-weight:inherit}pre,code{font-family:Monaco,monospace}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}h1{font-size:1.8333em}h2{font-size:1.6667em}h3{font-size:1.5em}h4{font-size:1.3333em}table{font-size:inherit}caption,th{font-weight:700}a{color:#00f}h1,h2,h3,h4,h5,h6{margin-top:1em}h1,h2,h3,h4,h5,h6,p,pre,blockquote,table,ol,ul,form{margin-bottom:12px}
#wrapper{width:960px;margin:0 auto}[class*=grid]{float:left;margin-left:10px;margin-right:10px;display:inline}.mod_article [class*=ce_],.mod_article [class*=mod_]{margin-left:10px;margin-right:10px}.mod_article .mod_newsreader,.mod_article .mod_eventreader{margin-left:0;margin-right:0}.mod_article [class*=layout_]>*,.mod_article [class*=event_]>*{margin-left:10px;margin-right:10px}.mod_article.grid1,.mod_article.grid2,.mod_article.grid3,.mod_article.grid4,.mod_article.grid5,.mod_article.grid6,.mod_article.grid7,.mod_article.grid8,.mod_article.grid9,.mod_article.grid10,.mod_article.grid11,.mod_article.grid12{margin-left:0;margin-right:0}#main .inside{overflow:hidden}.grid1{width:60px}.grid2{width:140px}.grid3{width:220px}.grid4{width:300px}.grid5{width:380px}.grid6{width:460px}.grid7{width:540px}.grid8{width:620px}.grid9{width:700px}.grid10{width:780px}.grid11{width:860px}.grid12{width:940px}.mod_article.grid1{width:80px}.mod_article.grid2{width:160px}.mod_article.grid3{width:240px}.mod_article.grid4{width:320px}.mod_article.grid5{width:400px}.mod_article.grid6{width:480px}.mod_article.grid7{width:560px}.mod_article.grid8{width:640px}.mod_article.grid9{width:720px}.mod_article.grid10{width:800px}.mod_article.grid11{width:880px}.mod_article.grid12{width:960px}.offset1{margin-left:90px!important}.offset2{margin-left:170px!important}.offset3{margin-left:250px!important}.offset4{margin-left:330px!important}.offset5{margin-left:410px!important}.offset6{margin-left:490px!important}.offset7{margin-left:570px!important}.offset8{margin-left:650px!important}.offset9{margin-left:730px!important}.offset10{margin-left:810px!important}.offset11{margin-left:890px!important}.offset12{margin-left:970px!important}.mod_article.offset1{margin-left:80px!important}.mod_article.offset2{margin-left:160px!important}.mod_article.offset3{margin-left:240px!important}.mod_article.offset4{margin-left:320px!important}.mod_article.offset5{margin-left:400px!important}.mod_article.offset6{margin-left:480px!important}.mod_article.offset7{margin-left:560px!important}.mod_article.offset8{margin-left:640px!important}.mod_article.offset9{margin-left:720px!important}.mod_article.offset10{margin-left:800px!important}.mod_article.offset11{margin-left:880px!important}.mod_article.offset12{margin-left:960px!important}@media (min-width:768px) and (max-width:979px){#wrapper{width:744px}.grid1{width:42px}.grid2{width:104px}.grid3{width:166px}.grid4{width:228px}.grid5{width:290px}.grid6{width:352px}.grid7{width:414px}.grid8{width:476px}.grid9{width:538px}.grid10{width:600px}.grid11{width:662px}.grid12{width:724px}.mod_article.grid1{width:62px}.mod_article.grid2{width:124px}.mod_article.grid3{width:186px}.mod_article.grid4{width:248px}.mod_article.grid5{width:310px}.mod_article.grid6{width:372px}.mod_article.grid7{width:434px}.mod_article.grid8{width:496px}.mod_article.grid9{width:558px}.mod_article.grid10{width:620px}.mod_article.grid11{width:682px}.mod_article.grid12{width:744px}.offset1{margin-left:72px!important}.offset2{margin-left:134px!important}.offset3{margin-left:196px!important}.offset4{margin-left:258px!important}.offset5{margin-left:320px!important}.offset6{margin-left:382px!important}.offset7{margin-left:444px!important}.offset8{margin-left:506px!important}.offset9{margin-left:568px!important}.offset10{margin-left:630px!important}.offset11{margin-left:692px!important}.offset12{margin-left:754px!important}.mod_article.offset1{margin-left:62px!important}.mod_article.offset2{margin-left:124px!important}.mod_article.offset3{margin-left:186px!important}.mod_article.offset4{margin-left:248px!important}.mod_article.offset5{margin-left:310px!important}.mod_article.offset6{margin-left:372px!important}.mod_article.offset7{margin-left:434px!important}.mod_article.offset8{margin-left:496px!important}.mod_article.offset9{margin-left:558px!important}.mod_article.offset10{margin-left:620px!important}.mod_article.offset11{margin-left:682px!important}.mod_article.offset12{margin-left:744px!important}}@media (max-width:767px){#wrapper{width:auto}[class*=grid]{float:none!important;display:block!important;width:auto!important}[class*=offset]{margin-left:10px!important}}
/*
	jQuery.mmenu CSS
*/
/*
	jQuery.mmenu panels CSS
*/
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }

.mm-menu .mm-hidden {
  display: none; }

.mm-wrapper {
  overflow-x: hidden;
  position: relative; }

.mm-menu,
.mm-menu > .mm-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0; }
  .mm-menu > .mm-panel {
    background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
    .mm-menu > .mm-panel.mm-opened {
      -webkit-transform: translate(0%, 0);
      -moz-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
      -o-transform: translate(0%, 0);
      transform: translate(0%, 0); }
    .mm-menu > .mm-panel.mm-subopened {
      -webkit-transform: translate(-30%, 0);
      -moz-transform: translate(-30%, 0);
      -ms-transform: translate(-30%, 0);
      -o-transform: translate(-30%, 0);
      transform: translate(-30%, 0); }
    .mm-menu > .mm-panel.mm-highest {
      z-index: 1; }
  .mm-menu .mm-list {
    padding: 20px 0; }
  .mm-menu > .mm-list {
    padding-bottom: 0; }
    .mm-menu > .mm-list:after {
      content: '';
      display: block;
      height: 40px; }

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px; }
  .mm-panel > .mm-list:first-child {
    padding-top: 0; }

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-list {
  font: inherit;
  font-size: 14px; }
  .mm-list a,
  .mm-list a:hover {
    text-decoration: none; }
  .mm-list > li {
    position: relative; }
    .mm-list > li > a,
    .mm-list > li > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      line-height: 20px;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    width: auto;
    margin-left: 20px;
    position: relative;
    left: auto; }
  .mm-list a.mm-subopen {
    background: rgba(3, 2, 1, 0);
    width: 40px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .mm-list a.mm-subopen:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .mm-list a.mm-subopen.mm-fullsubopen {
      width: 100%; }
      .mm-list a.mm-subopen.mm-fullsubopen:before {
        border-left: none; }
    .mm-list a.mm-subopen + a,
    .mm-list a.mm-subopen + span {
      padding-right: 5px;
      margin-right: 40px; }
  .mm-list > li.mm-selected > a.mm-subopen {
    background: transparent; }
  .mm-list > li.mm-selected > a.mm-fullsubopen + a,
  .mm-list > li.mm-selected > a.mm-fullsubopen + span {
    padding-right: 45px;
    margin-right: 0; }
  .mm-list a.mm-subclose {
    text-indent: 20px;
    padding-top: 30px;
    margin-top: -20px; }
  .mm-list > li.mm-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 25px;
    padding-right: 5px; }
  .mm-list > li.mm-spacer {
    padding-top: 40px; }
    .mm-list > li.mm-spacer.mm-label {
      padding-top: 25px; }
  .mm-list a.mm-subopen:after,
  .mm-list a.mm-subclose:before {
    content: '';
    border: 2px solid transparent;
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: -5px;
    position: absolute;
    bottom: 50%; }
  .mm-list a.mm-subopen:after {
    border-top: none;
    border-left: none;
    right: 18px; }
  .mm-list a.mm-subclose:before {
    border-right: none;
    border-bottom: none;
    margin-bottom: -15px;
    left: 22px; }

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }
  .mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
    border-color: transparent; }
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block; }
.mm-menu.mm-vertical .mm-list > li > a.mm-subopen {
  height: 40px; }
  .mm-menu.mm-vertical .mm-list > li > a.mm-subopen:after {
    top: 16px;
    bottom: auto; }
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen {
  height: 25px; }

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-menu {
  background: #333333;
  color: rgba(255, 255, 255, 0.6); }
  .mm-menu .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.15); }
  .mm-menu .mm-list > li > a.mm-subclose {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
    border-color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.15); }
  .mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu .mm-list > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.1); }
  .mm-menu .mm-list > li.mm-label {
    background: rgba(255, 255, 255, 0.05); }
  .mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(255, 255, 255, 0.05); }

/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  box-sizing: border-box;
  position: relative; }

.mm-slideout {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease; }

html.mm-opened {
  overflow: hidden;
  position: relative; }
  html.mm-opened body {
    overflow: hidden; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed; }
.mm-menu.mm-current {
  display: block; }

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px; }

html.mm-opening .mm-slideout {
  -webkit-transform: translate(80%, 0);
  -moz-transform: translate(80%, 0);
  -ms-transform: translate(80%, 0);
  -o-transform: translate(80%, 0);
  transform: translate(80%, 0); }

@media all and (max-width: 175px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0); } }
@media all and (min-width: 550px) {
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(440px, 0);
    -moz-transform: translate(440px, 0);
    -ms-transform: translate(440px, 0);
    -o-transform: translate(440px, 0);
    transform: translate(440px, 0); } }

/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0; }

html.mm-right.mm-opening .mm-slideout {
  -webkit-transform: translate(-80%, 0);
  -moz-transform: translate(-80%, 0);
  -ms-transform: translate(-80%, 0);
  -o-transform: translate(-80%, 0);
  transform: translate(-80%, 0); }

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate(-440px, 0);
    -moz-transform: translate(-440px, 0);
    -ms-transform: translate(-440px, 0);
    -o-transform: translate(-440px, 0);
    transform: translate(-440px, 0); } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  z-index: 0 !important; }

.mm-menu.mm-front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
  box-shadow: none; }

.mm-menu.mm-front, .mm-menu.mm-next {
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
  .mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
.mm-menu.mm-front.mm-top {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%); }
.mm-menu.mm-front.mm-bottom {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.mm-menu.mm-front.mm-top, .mm-menu.mm-front.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px; }

/*
	jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px; }

html.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0); }

@media all and (max-width: 140px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -moz-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    -o-transform: translate(140px, 0);
    transform: translate(140px, 0); } }
@media all and (min-width: 10000px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(10000px, 0);
    -moz-transform: translate(10000px, 0);
    -ms-transform: translate(10000px, 0);
    -o-transform: translate(10000px, 0);
    transform: translate(10000px, 0); } }
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

@media all and (max-width: 140px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(-140px, 0);
    -moz-transform: translate(-140px, 0);
    -ms-transform: translate(-140px, 0);
    -o-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 10000px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate(-10000px, 0);
    -moz-transform: translate(-10000px, 0);
    -ms-transform: translate(-10000px, 0);
    -o-transform: translate(-10000px, 0);
    transform: translate(-10000px, 0); } }
.mm-menu.mm-front.mm-fullscreen.mm-top, .mm-menu.mm-front.mm-fullscreen.mm-bottom {
  height: 100%;
  min-height: 140px;
  max-height: 10000px; }

html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none !important; }

/*
	jQuery.mmenu themes extension CSS
*/
html.mm-opened.mm-light .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-light .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light .mm-list > li > a.mm-subclose {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-list > li > a.mm-subopen:after, .mm-menu.mm-light .mm-list > li > a.mm-subclose:before {
    border-color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-light .mm-list > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-light .mm-list > li.mm-label {
    background: rgba(0, 0, 0, 0.03); }
  .mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-buttonbar {
  border-color: rgba(0, 0, 0, 0.6);
  background: #f3f3f3; }
  .mm-menu.mm-light .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-light .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: #f3f3f3; }

.mm-menu.mm-light label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-light em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-footer {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-header .mm-prev:before,
  .mm-menu.mm-light .mm-header .mm-next:after,
  .mm-menu.mm-light .mm-header .mm-close:after {
    border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light label.mm-toggle:before {
    background: #f3f3f3; }
.mm-menu.mm-light input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

html.mm-opened.mm-white .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white {
  background: white;
  color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-white .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white .mm-list > li > a.mm-subclose {
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
    border-color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-white .mm-list > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.06); }
  .mm-menu.mm-white .mm-list > li.mm-label {
    background: rgba(0, 0, 0, 0.03); }
  .mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-buttonbar {
  border-color: rgba(0, 0, 0, 0.6);
  background: white; }
  .mm-menu.mm-white .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-white .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: white; }

.mm-menu.mm-white label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-footer {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-header .mm-prev:before,
  .mm-menu.mm-white .mm-header .mm-next:after,
  .mm-menu.mm-white .mm-header .mm-close:after {
    border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white label.mm-toggle:before {
    background: white; }
.mm-menu.mm-white input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

html.mm-opened.mm-black .mm-page {
  box-shadow: none; }

.mm-menu.mm-black {
  background: black;
  color: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-black .mm-list > li:after {
    border-color: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black .mm-list > li > a.mm-subclose {
    background: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-list > li > a.mm-subopen:after, .mm-menu.mm-black .mm-list > li > a.mm-subclose:before {
    border-color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-list > li > a.mm-subopen:before {
    border-color: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-black .mm-list > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.25); }
  .mm-menu.mm-black .mm-list > li.mm-label {
    background: rgba(255, 255, 255, 0.15); }
  .mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-buttonbar {
  border-color: rgba(255, 255, 255, 0.6);
  background: black; }
  .mm-menu.mm-black .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-black .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.6);
    color: black; }

.mm-menu.mm-black label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-black em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-footer {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-header {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-header .mm-prev:before,
  .mm-menu.mm-black .mm-header .mm-next:after,
  .mm-menu.mm-black .mm-header .mm-close:after {
    border-color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black label.mm-toggle {
  background: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black label.mm-toggle:before {
    background: black; }
.mm-menu.mm-black input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

@font-face{font-family:"Icons";src:url("../../files/fonts/icons/gses.eot"),url("../../files/fonts/icons/gses.ttf") format("truetype"),url("../../files/fonts/icons/gses.woff"),url("../../files/fonts/icons/gses.svg") format("svg");font-weight:normal;font-style:normal}html{overflow-y:scroll}body{background-color:#ececec;font:87.5% 'Titillium Web',Verdana,Arial,Helvetica,sans-serif}#wrapper{background-color:#fff;margin-left:auto;margin-right:auto;overflow:hidden;width:100%}#container{padding:0}h1{text-transform:uppercase;font-style:italic;font-weight:bold;border-bottom:1px solid #e8c61b;float:right;margin-top:0}a,a:visited,a:focus{text-decoration:none;color:white}@media screen and (min-width: 2001px){#container{margin-top:40px}}.navbar-top{position:absolute;top:0;width:100%;z-index:3}.white-bar-top{position:absolute;background-color:#ececec;width:100%}.lang-select,.menu{font-weight:700;color:white;z-index:3;position:absolute;top:40px}.lang-select{font-size:30px;left:50px}#language-switcher{position:absolute;top:40px;left:50px;z-index:3}#language-switcher:before{font-family:"Icons";content:'f';color:white;font-size:30px;position:relative;top:7px}select.level_1{appearance:none;-moz-appearance:none;-webkit-appearance:none;border:none;background:none;color:white;font-family:'Titillium Web';text-transform:uppercase;font-weight:700;cursor:pointer}.menu{right:50px}.nav-bg{background-color:rgba(50,74,106,0.6);position:absolute}.menu-symbol{font-family:"Icons"}.inner-logo{position:relative;z-index:1;padding-top:35px}.mm-menu.mm-light{background-color:#324a6a;color:white;text-transform:uppercase}.mm-menu,.mm-menu>.mm-panel{width:60%}.mm-menu .mm-list{position:relative;margin:0 auto;font-size:16px;font-weight:600}.mm-menu.mm-light .mm-list>li::after{background-color:#e8c61b}.mm-menu.mm-light .mm-list>li.mm-selected>a:not(.mm-subopen),.mm-menu.mm-light .mm-list>li.mm-selected>span{background:none;color:#e8c61b}.mm-menu.mm-front{box-shadow:none}@media screen and (min-width: 2001px){.white-bar-top{z-index:2;width:101%;height:18px}.lang-select,.menu{font-weight:700;color:white;z-index:3;position:absolute;top:45px}.lang-select{left:50px}.menu{right:50px}.nav-bg{height:200px;width:101%;transform:rotate(-3deg);top:-50px;left:-10px}.inner-logo{width:245px;margin-left:200px;margin-right:auto;height:160px}.logo-small{display:none}.logo-big{display:block}.mm-menu.mm-front.mm-fullscreen.mm-top,.mm-menu.mm-front.mm-fullscreen.mm-bottom{margin-top:114px}}@media screen and (max-width: 2000px){.white-bar-top{height:18px;z-index:2}.nav-bg{height:180px;width:101%;transform:rotate(-3deg);top:-50px;left:-10px}.inner-logo{width:200px;margin-left:200px;height:160px}.logo-small{display:none}.logo-big{display:block}.mobile-bg{display:none}}@media screen and (max-width: 998px){.white-bar-top{height:18px;z-index:1}#language-switcher{top:30px;left:12px}.menu{font-size:14px;right:38px;top:43px}.menu-symbol{font-size:24px;top:-3px;position:absolute;left:42px}.nav-bg{width:100%;height:90px;transform:none;top:0;left:0;z-index:0}.inner-logo{top:0;text-align:center;z-index:2;margin:0 auto;width:120px}.inner-logo img{width:100%}.logo-small{display:initial}.logo-big{display:none}}.teaser-startpage{margin:0 auto;width:100%;background-color:#fff;overflow:hidden;position:relative}.teaser-startpage .banner-image{width:100%;position:absolute;top:0px;transition:all ease-in-out 500ms;-webkit-transition:all ease-in-out 500ms;-moz-transition:all ease-in-out 500ms;-o-transition:all ease-in-out 500ms;background-repeat:no-repeat;background-size:100%}.teaser-startpage>img{width:100%;height:auto}.status-icons a{cursor:pointer}.status-icon.active{background-color:#e8c61b}.status-icon{z-index:3;background-color:#aaa;margin:10px;border:2px solid white}.status-icons{position:absolute;z-index:3;width:30px;height:110px;top:50%;left:2%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%)}.main-content-border{border-top:30px solid #e8c61b;width:101%;background-color:white}.main-content-wrapper{left:-3px;position:relative;z-index:3}#background-blue{opacity:0;background-color:#324a6a;z-index:0;position:absolute;top:0;height:1500px;width:100%;transition:opacity 100ms}.ce_image,.mod_article [class*="ce_"]{margin:0}.image_container img{width:100%}.main-content-border-straight{border-top:30px solid #e8c61b;width:100%;background-color:white;margin-top:-5px;margin-bottom:90px}@media screen and (min-width: 2001px){.teaser-startpage{padding-top:40%;height:0}.teaser-startpage .banner-image{height:1000px;background-position:0 -222px}.status-icon{width:25px;height:25px}.mobile-bg{display:none}.main-content-border{border-top:30px solid #e8c61b;width:100%;transform:rotate(-3deg);background-color:white;height:120px}.main-content-wrapper{height:50px;top:-90px;width:105%}.side-mineral{position:absolute;right:0;top:20vw;z-index:4}.image_container img{margin-top:-170px}}@media screen and (max-width: 2000px){.teaser-startpage{padding-top:46%;height:0}.teaser-startpage .banner-image{height:100%;background-position:center}.mobile-bg{display:none}.status-icon{width:18px;height:18px}.main-content-border{height:120px;transform:rotate(-3deg)}.main-content-wrapper{top:-87px}.side-mineral{position:absolute;right:0;top:16vw;z-index:4}.side-mineral img{width:75%;float:right}}@media screen and (max-width: 998px){.teaser-startpage{padding-top:0;height:auto}.teaser-startpage .banner-image{height:100%;background-position:center}.banner-image{display:none}.mobile-bg{display:block}.status-icon{display:none}.main-content-wrapper{height:32px;top:0}.main-content-border{border-top-width:17px;transform:none;height:15px}.side-mineral{display:none}}.logo-footer img{width:175px}.contact div:not(:last-child){margin-right:6%}.footer-info{margin:0 auto;padding-top:5px;border-top:1px solid white}.contact div{float:left;width:29.3%;margin-top:13px;text-align:center;float:left}.footer-nav-link:first-child{padding:0}.footer-nav-link:last-child{border:none}.footer-nav-link{height:30px;border-bottom:1px solid white;padding-top:8px}.footer-nav-link span{color:#e8c61b}.footer-nav-link a{color:white;font-weight:600}.footer-wrapper{width:70%;margin:0 auto;padding-top:70px;height:300px}.footer-nav{float:left;width:25%;margin-left:15%}.address span{display:block}.address{font-weight:600;color:white;width:60%;float:left}.address-inside{margin-left:300px}.footer-bg{background-image:url(../../files/img/general/footer_bg.JPG);border-bottom:20px solid #e8c61b;background-size:cover}.footer-logo{position:absolute;top:0;width:200px}.footer-symbol{font-family:"Icons";font-size:30px;line-height:1.7em;color:#e8c61b}.footer-top{position:relative;border-bottom:1px solid white;padding-bottom:60px}@media screen and (min-width: 2001px){.contact div:not(:last-child){margin-right:6%}.contact div{float:left;width:29.3%;margin-top:13px;text-align:center;float:left}.bottom-line{border-bottom:1px solid white;padding-bottom:23px}.footer-nav-link{height:30px;border-bottom:1px solid white;padding-top:8px}.footer-wrapper{width:70%;margin:0 auto;padding-top:70px;height:300px}.footer-nav{float:left;width:25%;margin-left:15%}.address{font-weight:600;color:white;width:60%;float:left}.logo-footer{text-align:center;margin-top:-55px}.footer-symbol{font-family:"Icons";font-size:30px;line-height:3em;color:#e8c61b}}@media screen and (max-width: 998px){.footer{margin-top:50px}}.ce_text p{margin-left:20px;max-width:470px}.nav-big>img{width:100%;height:100%}.nav-big{position:relative;background-repeat:no-repeat;background-size:100%;height:0}.nav-big-content{position:absolute;top:0;width:100%}.nav-button-big:hover{background-color:rgba(232,198,27,0.8)}.nav-buttons a{color:white}.nav-buttons-right-inner .nav-button-big:first-child{margin-right:0.5vw}.nav-buttons-left-inner .nav-button-big:last-child{margin-left:0.5vw}.nav-buttons-right{float:right;width:50%}.nav-buttons-left{float:left;width:50%}.nav-buttons-right-inner{float:left;margin-left:0.25vw}.nav-buttons-left-inner{float:right;margin-right:5px}.button-symbol{height:55%;border-bottom:1px solid white;width:80%;margin:0 auto;font-family:"Icons";line-height:1em;text-transform:none}.symbol-mount{line-height:0.87em}.symbol-salt{line-height:0.96em}.symbol-depot{line-height:0.8em}.button-text{margin-top:15px;line-height:1.2em}.nav-buttons{color:white;text-transform:uppercase}.nav-button-big{background-color:rgba(50,74,106,0.8);border:3px solid white;float:left;position:relative;text-align:center;font-weight:600;max-width:200px;max-height:200px}.curved-white{clear:both;height:150px;transform:rotate(-3deg);margin-top:29px;background-color:white;width:105%;margin-bottom:-45px;left:-20px;position:relative;z-index:1;top:30px}.ce_text{float:right;width:48%}.hl-wrapper{width:47%;float:left;margin-left:15px}.hl-arrow{color:#e8c61b}h1{text-transform:uppercase;font-style:italic;font-weight:bold;border-bottom:1px solid #e8c61b;float:right;margin-top:0}.hl-article{width:60%;text-align:center;margin:0 auto}.hl-article h1{float:none}.article-icon{height:250px;background-repeat:no-repeat;background-position:center}#versatz-icon{background-image:url("../../files/img/general/versatz-icon.jpg")}#deponie-icon{background-image:url("../../files/img/general/versatz-icon.jpg")}#steinsalz-icon{background-image:url("../../files/img/general/versatz-icon.jpg")}#halde-icon{background-image:url("../../files/img/general/versatz-icon.jpg")}.ce_text p:last-child{margin-bottom:90px}@media screen and (min-width: 2001px){.ce_text p{width:100%;max-width:600px}.nav-big{padding-top:40%;background-image:url("../../files/img/general/nav_bg.jpg");background-position:0 -200px}.nav-buttons-right-inner .nav-button-big:first-child{margin-right:0.5vw}.nav-buttons-left-inner .nav-button-big:last-child{margin-left:0.5vw}.nav-buttons-right-inner{float:left;margin-left:0.25vw}.nav-buttons-left-inner{float:right;margin-right:5px}.button-symbol{height:55%;border-bottom:1px solid white;width:80%;margin:0 auto;font-family:"Icons";font-size:78px;line-height:1em;text-transform:none}.symbol-mount{line-height:0.87em}.symbol-salt{line-height:0.96em}.symbol-depot{line-height:0.8em;font-size:90px}.button-text{margin-top:15px;line-height:1.2em}.nav-buttons{padding-top:17%;color:white;font-size:23px}.nav-button-big{width:195px;height:195px;background-color:rgba(50,74,106,0.8);border:3px solid white;float:left;position:relative;text-align:center;font-weight:600}.ce_text{float:right;width:50%}.hl-wrapper{width:48%;float:left}.hl-article{width:40%}.hl-arrow{color:#e8c61b}h1{text-transform:uppercase;font-style:italic;font-weight:bold;border-bottom:1px solid #e8c61b;font-size:25px;float:right;margin-right:20px;margin-top:0}.nav-bg{height:200px;width:101%;transform:rotate(-3deg);top:-50px;left:-10px}}@media screen and (max-width: 2000px){.ce_text p{width:60%}.button-symbol{font-size:71px}.nav-buttons{padding-top:21%;font-size:17px}.nav-big{background-position:0 -50px;background-image:url("../../files/img/general/nav_bg.jpg");padding-top:50%}.nav-button-big{width:143px;height:143px;background-color:rgba(50,74,106,0.8);border:3px solid white;float:left;position:relative;text-align:center;font-weight:600;max-width:200px;max-height:200px}}@media screen and (max-width: 998px){.hl-wrapper,.hl-article,.ce_text{width:100%}.hl-article h1{width:350px;margin:20px auto 0}.ce_text{margin-top:25px;margin-bottom:0}.ce_text p{width:85%;margin:20px auto}.ce_text p:last-child{margin-bottom:50px}.curved-white{display:none}.nav-big{background:none;clear:both;padding-top:0}.nav-big-content{position:initial;width:85%;margin:0 auto}.nav-buttons{font-size:15px;padding-top:0}.nav-button-big{width:160px;height:160px}}
/*# sourceMappingURL=style.min.css.map */

